rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{collectionId}/{docId} {
      allow read, write: if collectionId.matches('public_products_.*');
    }
  }
}
