name: Version and Publish Packages to NPM Registry

on:
    push:
        branches: [master]

jobs:
    version-and-publish:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            packages: read
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20.x'
                  registry-url: 'https://registry.npmjs.org'

            - name: Configure Git
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"

            - name: Install dependencies
              run: yarn install --frozen-lockfile
                
            - name: Version and Publish to NPM Registry
              run: yarn run publish-packages
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
