name: Code Quality
on:
  pull_request:
  push:
    branches: [master]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v4
            
            - name: Enable Corepack and set Yarn to latest stable
              shell: bash
              run: |
                corepack enable

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20.x'

            - name: Install dependencies
              run: yarn install --frozen-lockfile
            
            # required for firebase emulators
            - name: Setup Java (OpenJDK)
              uses: actions/setup-java@v4
              with:
                  distribution: 'temurin'
                  java-version: '17'

            - name: Run tests
              shell: bash
              run: yarn test
